.cont {
    margin-left: 50px;
    margin-top: 50px;
}

td {
    padding: 5px;
}

.head {
    font-size: 150%;
}

.css-form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

.css-form input.ng-valid.ng-dirty {
    background-color: #78FA89;
}

.error_text {
}

.latest_added {
    float: right;
    margin-right: 10%;
}

.latest_contact {
    border: solid 1px black;
    padding: 10px;
}
.latest_phone {
    margin-top: 5px;
}
.latest_contact_name {
}
